@font-face {
    font-family: MR-Camphor;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/Camphor W04 Regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: MR-OD;
    font-weight: 400;
    font-style: normal;
    src: url(/api/_client/preferred-body-font) format("woff2");
    font-display: swap
}

@font-face {
    font-family: MR-Camphor;
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Camphor-Bold.woff2) format("woff2");
    font-display: swap
}

html {
    box-sizing: border-box
}

body {
    background: #0000!important
}

blockquote,body,h1,h2,h3,h4,h5,h6,html,li,ol,p,ul {
    margin: 0;
    padding: 0
}

li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0
}

body,button,html {
    font-family: MR-Camphor,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif
}

body[data-dialog-open=true] {
    overflow: hidden
}

a,button {
    outline: none
}

a {
    color: inherit;
    text-decoration: none
}

*,:after,:before {
    box-sizing: inherit
}

svg {
    fill: currentColor
}

button {
    -webkit-appearance: none;
    appearance: none;
    background: #0000;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    color: currentColor;
    padding: 0
}
